.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

}

.header__left {
	background-color: #fff;
	color: grey;
	min-width: 70px;
	border-radius: 30px;
	display: flex;
	flex: 0.6;
	align-items: center;
	padding: 10px;
}

.header__left>input {
	border: none;
	width: 100%;
}

.header__right {
	display: flex;
	align-items: center;
}

.header__right>h4 {
	margin-left: 10px;
	padding-right: 10px;
}

.body {
	flex: 0.8;
	
	background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
	height: 100vh;
	color: white;
	padding: 30px;

	overflow-y: overlay;
}

.body::-webkit-scrollbar {
	display: none;
}


.body__info {
	display: flex;
	align-items: flex-end;
	padding: 10px;
}

.body__infoText {
	flex: 1;
}

.body__infoText>h2 {
	font-size: 48px;
	margin-bottom: 10px;
}

.body__infoText>p {
	font-size: 10px;
}

.body__info>img {
	height: 20vw;
	margin: 0 20px;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__songs {
	margin: 20px -30px;
}

.body__icons {
	display: flex;
	align-items: center;
}

.body__icons>.MuiSvgIcon-root {
	margin-right: 20px
}

.body__shuffle {
	font-size: 80px !important;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.body__shuffle:hover {
	transition: 100ms transform ease-in;
	transform: scale(1.08);
}


.songRow {
	margin-left: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	z-index: 100;
	color: #fff;
}


.songRow:hover {
	cursor: pointer;
	background-color: black;
	opacity: 0.8;
}

.songRow__info {
	margin-left: 20px;
}

.songRow__info>h1 {
	font-size: 16px;
}

.songRow__info>p {
	font-size: 14px;
	margin-top: 3px;
	color: grey;
}

.songRow__album {
	height: 40px;
	width: 40px;

}